@model AM.Core.Domain.Prestation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prestation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intitule" class="control-label"></label>
                <input asp-for="Intitule" class="form-control" />
                <span asp-validation-for="Intitule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrestationType" class="control-label"></label>
                <input asp-for="PrestationType" class="form-control" />
                 
@*                <select class="form-control" asp-for="PrestationType"
                        asp-items="Html.GetEnumSelectList<Type>()">
                </select>*@
                <span asp-validation-for="PrestationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrestataireFK" class="control-label"></label>
                <input asp-for="PrestataireFK" class="form-control" />

@*                <select class="form-control" asp-for="PrestataireFK" asp-items="@ViewBag.PrestataireFK">
                </select>*@
                <span asp-validation-for="PrestataireFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
